<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://func-adftest-6275.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7079b8ad-b4dc-4d12-92c0-b1efbf7f4f67/resourceGroups/rg-adftest-6275/providers/Microsoft.Web/sites/func-adftest-6275</ResourceId>
    <UserName>$func-adftest-6275</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-adftest-6275.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>