<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionpgp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7079b8ad-b4dc-4d12-92c0-b1efbf7f4f67/resourcegroups/rg-adftest/providers/Microsoft.Web/sites/FunctionPgp</ResourceId>
    <UserName>$FunctionPgp</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://functionpgp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>